/UniFi-5.7.20.unix.zip
/UniFi-5.7.23.unix.zip
/UniFi-5.8.23.unix.zip
/UniFi-5.8.24.unix.zip
/UniFi-5.8.28.unix.zip
/UniFi-5.8.30.unix.zip
/UniFi-5.9.29.unix.zip
/UniFi-5.10.12.unix.zip
/UniFi-5.10.19.unix.zip
/UniFi-5.10.21.unix.zip
/UniFi-5.10.23.unix.zip
/UniFi-5.10.24.unix.zip
/UniFi-5.10.25.unix.zip
/UniFi-5.11.39.unix.zip
/UniFi-5.11.46.unix.zip
/UniFi-5.12.35.unix.zip
/UniFi-5.12.66.unix.zip
/UniFi-5.12.72.unix.zip
/UniFi-5.13.32.unix.zip
/UniFi-5.14.22.unix.zip
/UniFi-5.14.23.unix.zip
/UniFi-6.0.28.unix.zip
/UniFi-6.0.36.unix.zip
/UniFi-6.0.41.unix.zip
/UniFi-6.0.43.unix.zip
/UniFi-6.0.45.unix.zip
/UniFi-6.2.25.unix.zip
/UniFi-6.2.26.unix.zip
/UniFi-6.4.54.unix.zip
/UniFi-6.5.53.unix.zip
/UniFi-6.5.54.unix.zip
/UniFi-6.5.55.unix.zip
/UniFi-7.0.23.unix.zip
/UniFi-7.1.61.unix.zip
/UniFi-7.1.66.unix.zip
/UniFi-7.1.68.unix.zip
/UniFi-7.2.92.unix.zip
