/UniFi-5.7.20.unix.zip
/UniFi-5.7.23.unix.zip
/UniFi-5.8.23.unix.zip
/UniFi-5.8.24.unix.zip
/UniFi-5.8.28.unix.zip
/UniFi-5.8.30.unix.zip
/UniFi-5.9.29.unix.zip
/UniFi-5.10.12.unix.zip
/UniFi-5.10.19.unix.zip
/UniFi-5.10.21.unix.zip
/UniFi-5.10.23.unix.zip
/UniFi-5.10.24.unix.zip
/UniFi-5.10.25.unix.zip
/UniFi-5.11.39.unix.zip
/UniFi-5.11.46.unix.zip
/UniFi-5.12.35.unix.zip
/UniFi-5.12.66.unix.zip
/UniFi-5.12.72.unix.zip
/UniFi-5.13.32.unix.zip
/UniFi-5.14.22.unix.zip
/UniFi-5.14.23.unix.zip
