[Unit]
Description=Ubiquiti UniFi server
After=local-fs.target remote-fs.target network-online.target
Wants=network-online.target

[Service]
Type=simple
User=unifi
WorkingDirectory=/usr/share/unifi
EnvironmentFile=-/etc/sysconfig/unifi
ExecStart=/usr/bin/java $JAVA_OPTS -jar /usr/share/unifi/lib/ace.jar start
ExecStop=/usr/bin/java $JAVA_OPTS -jar /usr/share/unifi/lib/ace.jar stop
Restart=on-success

[Install]
WantedBy=multi-user.target
