[Unit]
Description=Ubiquiti UniFi server
After=local-fs.target remote-fs.target network-online.target
Wants=network-online.target

[Service]
Type=simple
User=unifi
WorkingDirectory=/usr/share/unifi
# Has to be run though bash script due to java issue, see:
# https://bugzilla.redhat.com/show_bug.cgi?id=1358476#c20
#ExecStart=/usr/sbin/unifi start
#ExecStop=/usr/sbin/unifi stop
ExecStart=/usr/bin/java -jar /usr/share/unifi/lib/ace.jar start
ExecStop=/usr/bin/java -jar /usr/share/unifi/lib/ace.jar stop
Restart=on-success

[Install]
WantedBy=multi-user.target
